@model IEnumerable<Portal.Models.MailKontrol>
@using Portal.Models;
@using Portal.Extensions;
@using Portal.Controllers;
@{
    ViewBag.Title = "GonderilenMailler";
}


<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover">
        <thead class="flip-content">
            <tr>
                <th>
                    Mail
                </th>
                <th>
                    Okundumu
                </th>
                <th>Gönderim Tarihi</th>
                <th>Okunma Tarihi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.MailAdresi
                    </td>
                    <td>
                        @if (item.MailOkundumu ?? false)
                { <text>Okundu</text> }
                else
                { <text>Okunmadı</text> }
                    </td>
                    <td>
                        @item.MailGondermeTarihi
                    </td>
                    <td>
                        @item.MailOkunmaTarihi
                    </td>
                </tr>
            }
      </tbody>

</table>
</div>
<div style="text-align:center">
    @if (ViewBag.Sayfalama.TotalCount > 0)
    {
        @Html.Pager(ViewBag.Sayfalama as PaginatedList, ViewData["queryData"] as string, (int? page, HtmlHelper htmlHelper, string queryData) =>
                            string.Format("{0}", this.Html.BuildUrlFromExpressionFG<ArayanlarController>(c => c.GonderilenMailler(page))))
    }
</div>
