@using Portal.Models;
@{
    ViewBag.Title = "Takvim";
    var kullanicilar = Database.DbHelper.GetDb.AspNetUsers.Where(x => x.LockoutEnabled == false).ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered calendar">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">Calendar</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <!-- BEGIN DRAGGABLE EVENTS PORTLET-->
                        <h3 class="event-form-title margin-bottom-20">Draggable Events</h3>
                        <div id="external-events">
                            <form class="inline-form">
                                <select id="kullanici" name="kullanici" class="form-control" style="margin-bottom:2px">
                                    @foreach(var item in kullanicilar)
                                    {
                                        <option value="@item.Id"><text>@item.Isim</text>&nbsp;<text>@item.SoyIsim</text></option>
                                    }
                                </select>
                                <input type="text" value="" class="form-control" placeholder="Event Title..." id="event_title" />
                                <br />
                                <a href="javascript:;" id="event_add" class="btn green"> Add Event </a>
                            </form>
                            <hr />
                            <div id="event_box" class="margin-bottom-10"></div>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline" for="drop-remove">
                                remove after drop
                                <input type="checkbox" class="group-checkable" id="drop-remove" />
                                <span></span>
                            </label>
                            <hr class="visible-xs" />
                        </div>
                        <!-- END DRAGGABLE EVENTS PORTLET-->
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div id="calendar" class="has-toolbar"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link href="/Content/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <style>

    </style>
   
}
@section scripts{
       <!-- BEGIN PAGE LEVEL PLUGINS -->
@*<script src="/Content/assets/global/plugins/moment.min.js" type="text/javascript"></script>*@
@*<script src="/Content/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>*@
<script src="https://fullcalendar.io/js/fullcalendar-3.2.0/fullcalendar.min.js"></script>
<script src="/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/Content/assets/apps/scripts/calendar.js?v=2" type="text/javascript"></script>
<script src="https://fullcalendar.io/js/fullcalendar-3.2.0/locale-all.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

        })
        
    </script>

}



