@model IEnumerable<Portal.Models.Domain>
@using Portal.Models;
<div class="portlet-body flip-scroll">
    <table class="table table-bordered table-striped table-condensed flip-content">
        <thead class="flip-content">
            <tr>
                <th>Tarih</th>
                <th>Uzatma Tarihi</th>
                <th class="numeric"> Kalan Gün </th>
                <th> Domain </th>
                <th>Web</th>
                <th> Hosting </th>
                <th> Ip </th>
                <th> Kaydeden Firma </th>
                <th> Kategori </th>
                <th> Firma </th>
                <th> İşlem </th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (Portal.Models.Domain domainVerisi in ViewData.Model)
            {
                    @Html.Partial("_DomainSatiri", domainVerisi)
                }
            }
        </tbody>
    </table>
</div>



